*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    cursor: none;
}
.choice{
    height: 165px;
    width:165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 3rem;
    gap: 5rem;
}
#comp-score,
#user-score{
    font-size: 3.5rem;
}
.msgContainer{
    margin-top: 3rem;
}
#msg {
    font-size: 1.8rem;
    
   padding: 1rem;
     color: #fff;
     height: 2rem;
     line-height: 2rem;
    display: inline;
    border-radius: 1rem; 
}